/* PALETA DE CORES 
color: #FE6700
color: #ffffff
color:  */


.cabecalho__titulo{
    font-size: 1.675rem;
    margin: 1% 2%;
}
.cabecalho__descricao{
    font-size: 1rem;
    margin: 1% 2%;
}
.titulo{
    margin: 1% 2%;
}
.descricao{
    margin: 1% 2%;
}
.plano{
    width: 30%;
    border: 1px solid;
}

.internet__planos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.fixo, .tv{
    opacity: 0;
}